@import url('./modern-normalize.min.css');

/* ============ basic styles ============ */
:root {
  --color-border: hsl(0, 0%, 95%);
  --color-texts: hsl(193, 42%, 20%);
  --color-accent: hsl(346, 64%, 56%);
  --color-light: hsl(0, 0%, 97%);
  --color-dark: hsl(191, 38%, 6%);
  --color-error: hsl(0, 68%, 65%);
  --color-focus: 240, 68%, 65%;

  --border-radius: 4px;
  --font-size-base: 1.6rem;

  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--font-size-base);
  color: var(--color-texts);
}

h1 {
  color: var(--color-dark);
  margin-bottom: -0.4rem;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-accent);
}

input,
button {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.6rem 1rem;
  outline: none;
}

input {
  border: 1px solid var(--color-border);
}

input:focus {
  border-color: hsl(var(--color-focus));
  box-shadow: 0 0 2px 1px hsla(var(--color-focus), 0.2);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

/* ============ button ============ */
.button {
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-light);
  background-color: var(--color-accent);
  transition: background-color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.button:hover {
  background-color: var(--color-dark);
  cursor: pointer;
}

/* ============ image column ============ */
.image-column {
  position: relative;
  background: url('../images/bg-img.jpg') no-repeat center / cover;
  flex: 1 1 30rem;
  color: var(--color-light);
}

.logo {
  font-weight: 600;
  font-size: clamp(1.8rem, 2.5vw, 2rem);
  padding: 2rem;
}

.bg-credits {
  position: absolute;
  bottom: 0;
  right: 2rem;
  bottom: 2rem;
  background-color: var(--color-dark);
}

.bg-credits a {
  color: var(--color-light);
}

/* ============ form column ============ */
.form-column {
  background-color: var(--color-light);
  flex: 2 1 40rem;
  padding: 6.4rem 3.2rem;
  align-content: center;
}

.form-header {
  margin-bottom: 3.2rem;
  max-width: 60ch;
}

.form-grid {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  margin-bottom: 3.2rem;
  width: min(100%, 72rem);
}

.form-group {
  display: grid;
  row-gap: 0.8rem;
}

.form-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* ============ login link ============ */
.login-link {
  transition: color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.login-link:hover {
  color: var(--color-dark);
}
