/* ==== base styles ==== */
@font-face {
  font-family: 'Norse';
  src: url('../fonts/Norse-Bold.otf');
}

:root {
  --blueberry: hsl(219, 84%, 63%);
  --very-light-malachite-green: hsl(135, 84%, 63%);
  --pastel-red: hsl(0, 96%, 70%);
  --spanish-gray: hsl(216, 5%, 58%);
  --bright-gray: hsl(220, 13%, 91%);
  --ghost-white: hsl(240, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --rich-black: 195, 91%, 4%;
  --fern-green: 92, 20%;

  --border-radius: 0.6rem;

  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--rich-black);
}

input,
button {
  font-size: 100%;
  font-family: inherit;
  appearance: none;
  outline: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1.2rem;
}

/* ==== utils ==== */
.space-left {
  padding-inline: 3.2rem;
}

.wrapper {
  display: grid;
  height: 100%;
}

/* ==== sidebar ==== */
.sidebar {
  display: grid;
  gap: 3.2rem;
  background: linear-gradient(
      hsl(var(--rich-black)),
      hsl(var(--rich-black), 0.5)
    ),
    url('../images/sidebar-img.jpg') no-repeat center / cover;
  color: var(--white);
  padding-block: 3.2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 6rem;
}

.logo span {
  font-family: 'Norse', sans-serif;
  font-size: 3.2rem;
}

.image-credits {
  font-size: 1.4rem;
  text-align: center;
  align-self: end;
}

.image-credits a {
  color: inherit;
}

/* ==== content / form ==== */
.content-wrapper {
  display: grid;
  align-content: center;
  background-color: var(--ghost-white);
  padding-block: 3.2rem;
}

.info {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
  width: min(58ch, 100%);
}

.info p:first-of-type {
  margin-bottom: 1.6rem;
}

.form {
  background-color: var(--white);
  padding-block: 3.2rem;
  margin-bottom: 3.2rem;
}

.form h2 {
  margin-bottom: 2.4rem;
}

.form-groups {
  display: grid;
  gap: 1.6rem;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

.form-control {
  order: 2;
  border: 0.1rem solid var(--bright-gray);
  line-height: 2rem;
  color: inherit;
}

.form-control::placeholder {
  color: var(--spanish-gray);
}

.form-control:focus {
  border-color: var(--blueberry);
}

.form-control:valid {
  border-color: var(--very-light-malachite-green);
}

.form-control.error {
  border-color: var(--pastel-red);
}

.form-control + label {
  font-size: 1.4rem;
  font-weight: 600;
}

#error-message {
  font-size: 1.4rem;
  color: var(--pastel-red);
  order: 1;
}

.button {
  border: none;
  font-weight: 600;
  background-color: hsl(var(--fern-green), 35%);
  color: var(--white);
  margin-bottom: 2.4rem;
}

.button:hover {
  background-color: hsl(var(--fern-green), 30%);
  cursor: pointer;
}

.login-link a {
  font-weight: 600;
  color: hsl(var(--fern-green), 30%);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (min-width: 48em) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
  }

  .form-groups {
    width: 65%;
    grid-template-columns: repeat(2, 1fr);
  }
}
